<html>
  <head>
    <meta charset="utf-8">
    <title>FRIDGIO API</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\dolago2k\Documents\cursed-studio\css\api.css">
  </head>
  <body>
    <div class="container">
      <p>FRIDGIO API</p> <br>
      <a href="/api/receitas">Ver receitas</a> <br>
      <a href="/api/receitas/add">Adicionar receitas</a> <br>
      <a href="/api/aprovacao">Aprovar receitas</a> <br>
      <a href="/api/usuarios/add">Adicionar usuários</a> <br>
      <a href="/api/usuarios">Ver usuários</a> <br>
    </div>
  </body>
</html>
