<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receitas</title>
</head>
<body>
  <!-- <ul class="receitas"> -->
  <% for(var i=0; i<receitas.length; i++) {%>
    <form action="/api/aprovacao" method="POST">
      <input type="hidden" name="id" value="<%= receitas[i]._id %>">
      Nome:<br>
      <input type="text" placeholder="Nome" name="titulo" value="<%= receitas[i].titulo %>"><br>
      Ingrediente:<br>
      <input type="text" placeholder="Ingrediente" name="ingredientes" value="<%= receitas[i].ingredientes %>"><br>
      Modo de Preparo:<br>
      <input type="text" placeholder="ModoPreparo" name="modoPreparo" value="<%= receitas[i].modoPreparo %>">
      <input type="hidden" name="status" value="1">
      <br>
      <button type="submit">Submit</button>
    </form>
  <% } %>
  <a href="../api/receitas">Ver receitas</a>
</body>
</html>
