<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receitas</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
  <div class="container mx-auto text-center mt-5">
  <!-- <ul class="receitas"> -->
    <span class="custom-title">Aprovar Receitas</span>
    <% for(var i=0; i<receitas.length; i++) {%>
    <form class="text-left mt-3" action="/api/aprovacao" method="POST">
      <input type="hidden" name="id" value="<%= receitas[i]._id %>">
      Nome
      <input class="form-control mb-3" type="text" placeholder="Nome" name="titulo" value="<%= receitas[i].titulo %>">
      Ingredientes
      <textarea class="form-control mb-3" type="text" placeholder="Ingredientes" name="ingredientes" value="<%= receitas[i].ingredientes %>"></textarea>
      Modo de Preparo
      <textarea class="form-control" type="text" placeholder="Modo de Preparo" name="modoPreparo" value="<%= receitas[i].modoPreparo %>"></textarea>
      <input type="hidden" name="status" value="1">
      <br>
      <button type="submit" class="btn btn-block btn-style mb-3">Aprovar</button>
    </form>
    <% } %>
    <a href="../api/receitas" class="custom-link">Ver todas receitas</a>

  </div>

  <script src="/js/bootstrap.js" charset="utf-8"></script>
  <script src="/js/bootstrap.bundle.js" charset="utf-8"></script>
</body>
</html>
