body{
  background-color: lightgray;
}
.container{
  height: 40vh;
  width: 400px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: gray;
}

a{
  text-decoration: none;
}
p{
  font-weight: bold;
  font-size: 22px;
}
